/* For all elements */
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* maybe it looks better if we put the background over everything instead of just the header */
html { 
    background-image: linear-gradient(rgba(119, 131, 179, 0.7), rgba(10, 20, 58, 0.7)), url(/img/background_test.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Header class including background image  */
.header{
    min-height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(119, 131, 179, 0.7), rgba(10, 20, 58, 0.7)), url(/img/background_test.png);*/
    background-position: center;
    background-size: cover;
    position: relative;
}

/*Footer class*/
.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(119, 131, 179, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around; /*nice space around element, not too close together*/
  }

.footer ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.footer img{
    border-radius: 5px;
}

/* Trying to split footer into top part (teaser) and bottom part (just info stuff)*/
.footer_teaser{
    position:absolute;
    bottom: 0;
}

.footer_info{
    position: relative;
}

/* Nav has some padding for beautification and flex for responsiveness (different screen sizes etc) */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* original image was too big so we rescale here */
nav img{
    width: 150px;
}

/* we want the navigation buttons on the right site as it looks better */
.nav-links{
    flex: 1;
    text-align: right;
}

/* more responsiveness (inline-block) and padding for beautification
+ list-style none so we don't get numbers or points in our navigation */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* Color and size of nav elements */
.nav-links ul li a{
    color: rgb(223, 211, 211);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #9e5f3a;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.content-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move to center*/
    text-align: center;
}

.content-box h1{
    font-size: 60px;
}

.content-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.test-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.test-btn:hover{
    border: 1px solid #9e5f3a;
    background:rgba(10, 20, 58, 0.7);
    transition: 0.75s;
}

/* for small screens etc -> @media -> smaller text at the critical elements */
@media(max-width: 700px){
    .content-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }
    /* TODO: Find out how to move in and out this bar with button without JS */
    /* put nav menu to the side when we're on a mobile screen for better readability */
    .nav-links{
        position: absolute;
        background:rgba(119, 131, 179, 0.7);
        height: 100vh;
        width: 25%;
        top: 0;
        right: 0;
        text-align: left; 
    }
}


/* AB HIER: Bewerbung */
.bewerbung{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-size: 32px;
    font-weight: 500;
}

p{
    color: #9e5f3a;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row{
    width: 80%;
    margin-top: 5%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move to center*/
    display: flex;
    justify-content: space-between;
}

.bewerbung-column{
    flex-basis: 32%; /* flex basis size for the columns */
    background:rgba(202, 202, 202, 0.7);
    border-radius: 5px; /* roundness */
    margin-bottom: 10%;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.5s; /* transition time for shadow */
}

h3{
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
}

/* Shadow when hovering */
.bewerbung-column:hover{
    box-shadow: 0 0 20px 0 rgba(10, 20, 58, 0.2);
}

/* on smartphones we want the elements to be on top of each other, not left to right. */
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

audio{
    background-color: rgba(133, 160, 173, 0.5);
    border-radius: 5px;
    padding: 10px;
    width:inherit;
}